@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Nabla&family=Playwrite+SK:wght@100..400&display=swap');


.App {
  text-align: center;
  background-color: #2b246f;
  min-height: 1080px;
  border-radius: 5px;
  background-image: url("C:/Users/Admin/HTMLCSS-workspace/REACT/2.Hooks/jamming/public/JammingBg.png");

  background-position: 100%;
}

.title {
  background-color: #282c34;
  height: auto;
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  color: #ffde59;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title h1 {
  display: flex;
}

.Search {
  display: flex;
  min-height: 50px;
  margin-top: 150px;
  margin-bottom: 15px;
  justify-content: center;

}

.Search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  opacity: 0.8;
}

.Search input {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;

}

#submitButton {
  margin-top: 10px;
  width: 10%;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  color: black;

}

.artistResults {
  display: flex;
  background-color: rgb(21, 18, 82);
  margin: 15px 40px;
  padding: 10px;
  height: 200px;
  flex: 0 0 200px;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.artist {
  display: flex;
  width: 300px;
  margin: 0;
  border: rgb(21, 18, 82);
  border-width: 7px;
  border-style: solid;
  flex-shrink: 0;
}


.artistInfo {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  align-items: flex-start;
}

.artistInfo ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  color: grey;
  font-size: 10px;

  font-style: italic;
  list-style-type: none;
  display: inline;

  padding: 0px;
  margin: 0px;

}

.artistInfo p {
  display: flex;
  justify-content: flex-start;
}

.artistInfo li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.main {
  height: 1000px;

  margin: 0 20px;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.results {
  display: flex;
  height: 100%;
  width: calc(50%);
  margin: 0 20px;
  background-color: rgb(21, 18, 82);
  color: white;

  flex-direction: column;
  justify-content: flex-start;

  overflow-y: scroll;

  margin: 0 20px;
  padding-bottom: 20px;
}

.playlist {
  display: flex;
  height: 100%;
  width: calc(50%);
  margin: 0 20px;
  background-color: rgb(21, 18, 82);
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;
  margin-bottom: 20px;
}


.Song {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 70px;
  width: 90%;

}

.info h3 {
  margin: 0;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: none;
  text-overflow: ellipsis;
}

.info p {
  margin-top: 0px;
  margin-left: 20px;
  font-size: 15px;
  font-style: italic;
  color: rgb(173, 173, 173);
}

.Song button {
  align-self: center;
  justify-self: flex-end;
  height: 70%;
  margin-right: 20px;
  width: calc(10%);
  opacity: 0.2;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the entire scrollbar */

}

::-webkit-scrollbar-track {
  background: rgb(21, 18, 82);
  opacity: 0.5;
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Roundness of the scrollbar thumb */
  /* Padding around the scrollbar thumb */
}